<div>
	<nav class='navbar navbar-default'>
		<div class='container-fluid'>
			<a class='navbar-brand'>{{pageTitle}}</a>
			<ul class='nav navbar-nav'>
				<li><a routerLink="/welcome" routerLinkActive="active">Home</a></li>
				<li><a routerLink="/products" routerLinkActive="active">Product List</a></li>
				<li><a routerLink="/test-modal" routerLinkActive="active">Test modal</a></li>
				<li><a routerLink="/test-signalr" routerLinkActive="active">Test Signalr</a></li>
			</ul>
		</div>
	</nav>
	<div class='container'>
		<router-outlet></router-outlet>
	</div>
</div>