<span defaultOverlayTarget></span>
<div class='panel panel-primary'>
	<div class='panel-heading'>
		{{pageTitle}}
	</div>

	<!-- Filter the <%= table.name.toLowerCase() %>s   -->
	<div class='panel-body'>
		<div class='row'>
			<div class='col-md-2'>Filter by:</div>
			<div class='col-md-4'>
				<input type='text' [(ngModel)]='listFilter' />
			</div>
		</div>
		<div class='row' *ngIf='listFilter'>
			<div class='col-md-6'>
				<h3>Filtered by: {{listFilter}} </h3>
			</div>
		</div>

		<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>\

		<div class='table-responsive'>
			<table class='table'>
				<thead>
					<tr>
						<th><%= table.name %></th>
						<% table.fields.forEach(p => { %>
							<th><%= p.name %></th>
						<% }) %>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let <%= table.name.toLowerCase() %> of <%= table.name.toLowerCase() %>s | <%= table.name %>Filter:listFilter | async '>
						<td>
							<input type="checkbox" (click)="onCheck(<%= table.name.toLowerCase() %>)" [(ngModel)]="<%= table.name.toLowerCase() %>.isChecked" />
						</td>
						<td>
							<a href="javascript:;" (click)="show<%= table.name %>DetailModal(<%= table.name.toLowerCase() %>)">{{<%= table.name.toLowerCase() %>.<%= table.fields[0].name.toLowerCase() %>}}</a>
						</td>
						<% for(var i = 1; i < table.fields.length ; i++){ %>
							<td>{{ <%= table.name.toLowerCase() %>.<%= table.fields[i].name %> }}</td>	
						<% } %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>